.static-bar-container {
    background: rgb(21, 17, 26);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    height: 9%;
    opacity: 0.95;
    display: flex;
}

.static-bar-container h1 {
    color: #ffff;
    font-size: 1.5rem;
    width: 80%;
}